<main fxLayout="column" fxLayoutAlign="center center">
    <div class="top">
        <div>
            <img src="/assets/logo.svg" alt="">
        </div>
        <div>
            <ul fxLayout="row" fxLayoutGap="35px">
                <li><a href="">Sobre nós</a></li>
                <li><a href="">Localização</a></li>
                <li><a href="">Fale conosco</a></li>
            </ul>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div class="left">

                <ul fxLayout="row" fxLayoutAlign="space-around center">
                    <li >
                        <a href=""> <mat-icon> local_offer</mat-icon><span>venda conosco</span></a>
                    </li>
                    <li style="margin-right: 5px;">
                        <a href=""> <img src="/assets/call.svg" alt="" ></a>
                    </li>
                </ul>
                
            </div>
            <div class="right" fxLayout="column" fxLayoutAlign="center start">
                <span class="span1">Para mais informações</span>
                <span class="span2">(51) 98105-7222</span>
            </div>
        </div>
    </div>
    <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="categorias">
            <ul fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="start center">
                <li>Home</li>
                <li>Automóveis</li>
                <li>Motocicletas</li>
                <li>Acessórios</li>
                <li>Peças</li>
                <li>Ferramentas</li>
            </ul>
        </div>

        <div class="logi">
            <button (click)="openDialog()" class="login" mat-flat-button extended color="#6f7487">
                <mat-icon>account_circle</mat-icon>
                Login
            </button>
        </div>
    </div>
</main>