<app-navbar></app-navbar>
<main class="view-1" fxLayout="row" fxLayoutAlign="center start">

    <div class="view-1-1">
        <section class="banner">
            <div class="text">
                <h1>Premier Auto Sales</h1>
                <span>Car dealerships may sell new cars from one or several manufacturers</span>
                <div class="w-820" fxLayout="row" fxLayoutAlign="center " style="margin-top: 30px;" fxLayoutGap="8%">

                    <button class="btn-1" mat-flat-button extended color="primary">
                        <div fxLayout="row" fxLayoutGap="8px">
                            <img src="/assets/car.svg" alt="">
                            <span> Encontre seu veículo</span>
                        </div>

                    </button>

                    <div class="rating">

                        <img src="/assets/google.svg" alt="">
                        <span class="span1">Rating 4.7</span>
                        <span>Baseado em 17 Avalições
                        </span>

                    </div>
                </div>
            </div>
        </section>

    </div>


</main>
<main class="view-2" fxLayoutAlign="center center" fxLayout="column">

    <header fxLayoutAlign="start center" fxLayout="row">
        <h2>Veículos em Destaque</h2>
    </header>

    <div class="view-2-2" fxLayoutAlign="center center" fxLayout="column">

        <div class="main" fxLayoutAlign="space-around center" fxLayout="column">
            <ul class="lista-destaque" fxLayout="row" fxLayoutAlign="center flex-start" fx>

                <li>
                    <a href="">
                        <app-card-star></app-card-star>
                    </a>
                </li>
                <li>
                    <a href="">
                        <app-card-star></app-card-star>
                    </a>
                </li>
                <li>
                    <a href="">
                        <app-card-star></app-card-star>
                    </a>
                </li>
                <li>
                    <a href="">
                        <app-card-star></app-card-star>
                    </a>
                </li>
            </ul>
            <button mat-flat-button color="primary">Ver veículos em estoque</button>
        </div>
    </div>


</main>
<main class="view-3"></main>
<main class="view-4"></main>

<app-footer></app-footer>