<!-- <div class="section">

  <div>
    <button (click)="openDialog(null, null, null, null)" mat-flat-button
      style="background:green; color: white;"><mat-icon>add_circle_outline</mat-icon> Adicionar</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element">
        <img src="assets/card-car/car-test.jpeg" width="350px" height="200px" />
      </td>
    </ng-container>

     Name Column 
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

     Weight Column
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency: 'BRL'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">

        <button (click)="openDialog(element.position, element.title, true, false)" style="margin-right: 10px;"
          mat-flat-button color="primary"><mat-icon>edit</mat-icon> Editar</button>
        <button (click)="openDialog(null, element.title, false, true)" mat-flat-button
          color="warn"><mat-icon>delete</mat-icon> Deletar</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div> -->


<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a fxLayout="row wrap" style="gap: 20px;" fxLayoutAlign="center center" href="javascript:void(0)"
          class="d-flex align-items-center">
          <img style="max-width: 100%; overflow: hidden;" src="assets/logo.svg" alt=""> <span
            class="ms-16 fw-medium fs-26">Admin</span>
        </a>

      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive"
              [routerLinkActiveOptions]="{ exact: true }">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather> <span class="ps-4">{{
                sidenav.menu }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Header -->
    <mat-toolbar class="header ps-24 pe-24">
      <button type="button" class="ms-4" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
      </button>
      <!-- <button mat-icon-button class="ms-4 me-4" (click)="search=!search">
        <i-feather name="search" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>
      </button>  -->
      <div class="ms-auto">
        <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
          [matMenuTriggerFor]="menu">
          <div class="d-flex align-items-center">
            <img src="assets/images/user2.webp" class="rounded-circle" alt="">
            <span class="fw-light ms-8 text-secondary">Olá,</span>
            <span class="fw-bold ms-8"> Vera</span>
            <i-feather name="chevron-down" class="feather-base"></i-feather>
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-dropdown">
          <!-- <div class="p-16 mb-4">
            <button mat-menu-item class="fs-16">Edit Profile</button>
            <button mat-menu-item class="fs-16">Account</button>
            <button mat-menu-item class="fs-16">Change Password</button>
            <button mat-menu-item class="fs-16">My Settings</button>
          </div> -->

          <hr>

          <div class="p-16">
            <button mat-flat-button color="accent" class="w-100 text-white">Deslogar</button>
          </div>

        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">


        <h3 class="tag-gallery">Veículos</h3>
        <gallery style="margin-bottom: 30px;" [items]="images" thumbPosition="top"></gallery>
        <h3 class="tag-gallery">Motocicletas</h3>
        <gallery [items]="images" thumbPosition="top"></gallery>

      </div>
    </div>

    <p class="text-center pb-24 fs-16">© 2024 Todos os direitos reservados por <a href="brasilmobis.com.br"
        target="_blank" class="text-indigo">Brasil Mobis</a></p>

  </mat-sidenav-content>

</mat-sidenav-container>