$primaria: #F5F7F8;
$secundaria: #FFE227;
$terciaria: #495E57;
$quaternaria: #45474B;
$quintenaria: #272829;
$sextenaria: #FFF;
$family-montserrat: 'Montserrat', sans-serif;
$family-open-sans: 'Open Sans', sans-serif