<app-navbar></app-navbar>
<section class="main" fxLayout="column" fxLayoutAlign="center center">
    <div class="wall"></div>
    <div class="search" fxLayout="row" fxLayoutAlign="center center">

        <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select>
                <mat-option value="one">Fiat</mat-option>
                <mat-option value="two">Chevrolet</mat-option>
                <mat-option value="two">Peugeot</mat-option>
                <mat-option value="two">Volkswagen</mat-option>
                <mat-option value="two">Ford</mat-option>
                <mat-option value="two">Toyota</mat-option>
                <mat-option value="two">Volkswagen</mat-option>
                <mat-option value="two">Hyundai</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ano</mat-label>
            <mat-select>
                <mat-option value="one">2023</mat-option>
                <mat-option value="two">2022</mat-option>
                <mat-option value="two">2021</mat-option>
                <mat-option value="two">2020</mat-option>
                <mat-option value="two">2019</mat-option>
                <mat-option value="two">2018</mat-option>
                <mat-option value="two">2017</mat-option>
                <mat-option value="two">2016</mat-option>
                <mat-option value="two">2015</mat-option>
                <mat-option value="two">2014</mat-option>
                <mat-option value="two">2013</mat-option>
                <mat-option value="two">2012</mat-option>
                <mat-option value="two">2011</mat-option>
                <mat-option value="two">2010</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select>
                <mat-option value="one">Hatch</mat-option>
                <mat-option value="two">Sedan</mat-option>
                <mat-option value="two">Utilitário</mat-option>
                <mat-option value="two">SUV</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Condição</mat-label>
            <mat-select>
                <mat-option value="one">Novo</mat-option>
                <mat-option value="two">Excelente</mat-option>
                <mat-option value="two">Bom</mat-option>
                <mat-option value="two">Aceitável</mat-option>

            </mat-select>
        </mat-form-field>

        <button mat-flat-button color="primary"><mat-icon>search</mat-icon> Pesquisar</button>

    </div>
    <div class="list-items" fxLayout="column" fxLayoutAlign="center center">
        <ul>
            <li *ngFor="let item of items" let i=index>

                <app-card-star [item]="item"></app-card-star>

            </li>

        </ul>
    </div>
</section>
<app-footer></app-footer>