<mat-sidenav-container class="sidenav-container">

    <!-- Sidebar -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <div class="p-16">
            <div class="mb-16">
                <a fxLayout="row wrap" style="gap: 20px;" fxLayoutAlign="center center" href="javascript:void(0)"
                    class="d-flex align-items-center">
                    <img style="max-width: 100%; overflow: hidden;" src="assets/logo.svg" alt=""> <span
                        class="ms-16 fw-medium fs-26">Admin</span>
                </a>

            </div>

            <div class="pt-8">
                <ul>
                    <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
                        <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
                            class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather> <span
                                class="ps-4">{{
                                sidenav.menu }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Header -->
        <mat-toolbar class="header ps-24 pe-24">
            <button type="button" class="ms-4" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
            </button>

            <div class="ms-auto">
                <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
                    [matMenuTriggerFor]="menu">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/user2.webp" class="rounded-circle" alt="">
                        <span class="fw-light ms-8 text-secondary">Olá,</span>
                        <span class="fw-bold ms-8"> Vera</span>
                        <i-feather name="chevron-down" class="feather-base"></i-feather>
                    </div>
                </button>
                <mat-menu #menu="matMenu" class="profile-dropdown">
                    <!-- <div class="p-16 mb-4">
              <button mat-menu-item class="fs-16">Edit Profile</button>
              <button mat-menu-item class="fs-16">Account</button>
              <button mat-menu-item class="fs-16">Change Password</button>
              <button mat-menu-item class="fs-16">My Settings</button>
            </div> -->

                    <hr>

                    <div class="p-16">
                        <button mat-flat-button color="accent" class="w-100 text-white">Deslogar</button>
                    </div>

                </mat-menu>
            </div>
        </mat-toolbar>

        <!-- Content -->
        <div class="body-wrapper">
            <div class="page-wrapper">

                <!-- Form Layout -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-32">Form Layout</h4>

                        <div class="upload-section">
                            <input type="file" multiple (change)="processFile($event)" #fileInput hidden>
                            <div class="image-preview" [style.backgroundImage]="'url(' + images[0] + ')'">
                                <button (click)="fileInput.click()" class="btn-1 upload-btn" mat-flat-button
                                    color="primary">
                                    <mat-icon>image</mat-icon><span> Enviar Imagens</span>
                                </button>
                            </div>
                            <div class="thumbnail-container" *ngIf="images.length >= 0">
                                <ng-container *ngFor="let imgSrc of images; let i = index">
                                    <div class="thumbnail">
                                        <img [src]="imgSrc" alt="Image thumbnail">
                                        <!-- Botão de remoção adicionado aqui -->
                                        <button *ngIf="i >= 0" class="remove-btn" (click)="removeImage(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>



                        <form *ngIf="veiculo" fxLayout="row wrap" fxLayoutAlign="space-between center"
                            [formGroup]="cadastroFormVeiculo" (ngSubmit)="submitForm()">
                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Marca</mat-label>
                                <input matInput type="text" placeholder="Marca do veículo" formControlName="marca">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Modelo</mat-label>
                                <input matInput type="text" placeholder="Modelo do veículo" formControlName="modelo">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Tipo Carroceria</mat-label>
                                <mat-select formControlName="carroceria">
                                    <mat-option *ngFor="let option of carrocerias"
                                        value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Câmbio</mat-label>
                                <mat-select formControlName="cambio">
                                    <mat-option value="manual">Manual</mat-option>
                                    <mat-option value="automatico">Automático</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Combustivel</mat-label>
                                <mat-select formControlName="combustivel">
                                    <mat-option value="gasolina">Gasolina</mat-option>
                                    <mat-option value="alcool">Álcool</mat-option>
                                    <mat-option value="diesel">Diesel</mat-option>
                                    <mat-option value="automatico">Elétrico</mat-option>
                                    <mat-option value="flex">Flex</mat-option>
                                    <mat-option value="automatico">Gasolina/Gnv</mat-option>
                                    <mat-option value="automatico">Tretafull</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Cor</mat-label>
                                <mat-select formControlName="cor">
                                    <mat-option *ngFor="let option of cores" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Ano Fabricação</mat-label>
                                <mat-select formControlName="anoFabricacao">
                                    <mat-option *ngFor="let option of years" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Ano Modelo</mat-label>
                                <mat-select formControlName="anoModelo">
                                    <mat-option *ngFor="let option of years" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Título</mat-label>
                                <input matInput type="text" placeholder="Título do anúncio..." formControlName="titulo">
                            </mat-form-field>

                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Descrição</mat-label>
                                <textarea matInput rows="8" placeholder="Fale sobre o veículo..."
                                    formControlName="descricao"></textarea>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Renavam</mat-label>
                                <input matInput type="text" formControlName="renavam">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Placa</mat-label>
                                <input matInput type="text" formControlName="placa">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Preço</mat-label>
                                <input matInput type="text" currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
                                    formControlName="preco">
                            </mat-form-field>

                            <mat-radio-group color="primary" class="fs-16 w-50" aria-label="Select an option"
                                formControlName="condicao">
                                <mat-label class="text-secondary">Condição</mat-label>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                                    <mat-radio-button value="zero">Novo</mat-radio-button>
                                    <mat-radio-button value="semi-novo">Semi-novo</mat-radio-button>
                                    <mat-radio-button value="bom">Bom</mat-radio-button>
                                </div>

                            </mat-radio-group>

                            <div class=" w-100 fs-16" fxLayout="row wrap" fxLayoutAlign="space-between center"
                                formGroupName="optionalFeatures" style="margin-bottom: 30px; row-gap: 20px;">

                                <mat-checkbox formControlName="abs" class="d-block mb-16">Freio ABS</mat-checkbox>
                                <mat-checkbox formControlName="airbags" class="d-block mb-16">Airbags</mat-checkbox>
                                <mat-checkbox formControlName="stabilityControl" class="d-block mb-16">Controle de
                                    estabilidade</mat-checkbox>
                                <mat-checkbox formControlName="tractionControl" class="d-block mb-16">Controle de
                                    tração</mat-checkbox>
                                <mat-checkbox formControlName="emergencyBrakeAssist" class="d-block mb-16">Assistente de
                                    frenagem de emergência</mat-checkbox>
                                <mat-checkbox formControlName="collisionWarningSystem" class="d-block mb-16">Sistema de
                                    alerta de colisão frontal</mat-checkbox>
                                <mat-checkbox formControlName="airConditioning" class="d-block mb-16">Ar
                                    condicionado</mat-checkbox>
                                <mat-checkbox formControlName="powerWindows" class="d-block mb-16">Vidros
                                    elétricos</mat-checkbox>
                                <mat-checkbox formControlName="electricPowerSteering" class="d-block mb-16">Direção
                                    elétrica</mat-checkbox>
                                <mat-checkbox formControlName="leatherSeats" class="d-block mb-16">Bancos de
                                    couro</mat-checkbox>
                                <mat-checkbox formControlName="driverSeatHeightAdjustment" class="d-block mb-16">Ajuste
                                    de altura do banco do motorista</mat-checkbox>
                                <mat-checkbox formControlName="soundSystem" class="d-block mb-16">Sistema de
                                    som</mat-checkbox>
                                <mat-checkbox formControlName="rearViewCamera" class="d-block mb-16">Câmera de
                                    ré</mat-checkbox>
                                <mat-checkbox formControlName="navigationSystem" class="d-block mb-16">Sistema de
                                    navegação</mat-checkbox>
                                <mat-checkbox formControlName="bluetooth" class="d-block mb-16">Bluetooth</mat-checkbox>
                                <mat-checkbox formControlName="multifunctionalSteeringWheel"
                                    class="d-block mb-16">Volante multifuncional</mat-checkbox>
                            </div>


                            <div fxLayout="row wrap" fxLayoutAlign="flex-start center" style="gap: 20px;">
                                <button type="submit" class="btn-1" mat-flat-button extended color="primary">
                                    <mat-icon>post_add</mat-icon><span> Publicar Anúncio </span></button>


                                <button type="submit" (click)="onBack()" class="btn-1" mat-flat-button extended
                                    color="accent">
                                    <mat-icon>date_range </mat-icon><span> Salvar Rascunho </span></button>


                                <button type="submit" (click)="onBack()" class="btn-1" mat-flat-button extended
                                    color="warn">
                                    <mat-icon>delete</mat-icon><span> Cancelar </span></button>

                            </div>

                        </form>


                        <form *ngIf="!veiculo" fxLayout="row wrap" fxLayoutAlign="space-between center"
                            [formGroup]="cadastroFormMoto" (ngSubmit)="submitForm()">
                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Marca</mat-label>
                                <input matInput type="text" placeholder="Marca do veículo" formControlName="marca">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Modelo</mat-label>
                                <input matInput type="text" placeholder="Modelo do veículo" formControlName="modelo">
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Câmbio</mat-label>
                                <mat-select formControlName="cambio">
                                    <mat-option value="manual">Manual</mat-option>
                                    <mat-option value="automatico">Automático</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Combustivel</mat-label>
                                <mat-select formControlName="combustivel">
                                    <mat-option value="gasolina">Gasolina</mat-option>
                                    <mat-option value="alcool">Álcool</mat-option>
                                    <mat-option value="diesel">Diesel</mat-option>
                                    <mat-option value="automatico">Elétrico</mat-option>
                                    <mat-option value="flex">Flex</mat-option>
                                    <mat-option value="automatico">Gasolina/Gnv</mat-option>
                                    <mat-option value="automatico">Tretafull</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-30 fs-16" appearance="outline">
                                <mat-label>Cor</mat-label>
                                <mat-select formControlName="cor">
                                    <mat-option *ngFor="let option of cores" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Ano Fabricação</mat-label>
                                <mat-select formControlName="anoFabricacao">
                                    <mat-option *ngFor="let option of years" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Ano Modelo</mat-label>
                                <mat-select formControlName="anoModelo">
                                    <mat-option *ngFor="let option of years" value="{{option}}">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Título</mat-label>
                                <input matInput type="text" placeholder="Título do anúncio..." formControlName="titulo">
                            </mat-form-field>

                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Descrição</mat-label>
                                <textarea matInput rows="8" placeholder="Fale sobre o veículo..."
                                    formControlName="descricao"></textarea>
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Renavam</mat-label>
                                <input matInput type="text" formControlName="renavam">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Placa</mat-label>
                                <input matInput type="text" formControlName="placa">
                            </mat-form-field>

                            <mat-form-field class="w-50 fs-16" appearance="outline">
                                <mat-label>Preço</mat-label>
                                <input matInput type="text" currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
                                    formControlName="preco">
                            </mat-form-field>

                            <mat-radio-group color="primary" class="fs-16 w-50" aria-label="Select an option"
                                formControlName="condicao">
                                <mat-label class="text-secondary">Condição</mat-label>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                                    <mat-radio-button value="zero">Novo</mat-radio-button>
                                    <mat-radio-button value="semi-novo">Semi-novo</mat-radio-button>
                                    <mat-radio-button value="bom">Bom</mat-radio-button>
                                </div>

                            </mat-radio-group>

                            <div fxLayout="row wrap" fxLayoutAlign="flex-start center" style="gap: 20px;">
                                <button type="submit" class="btn-1" mat-flat-button extended color="primary">
                                    <mat-icon>post_add</mat-icon><span> Publicar Anúncio </span></button>


                                <button type="submit" (click)="onBack()" class="btn-1" mat-flat-button extended
                                    color="accent">
                                    <mat-icon>date_range </mat-icon><span> Salvar Rascunho </span></button>


                                <button type="submit" (click)="onBack()" class="btn-1" mat-flat-button extended
                                    color="warn">
                                    <mat-icon>delete</mat-icon><span> Cancelar </span></button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center pb-24 fs-16">© 2024 Todos os direitos reservados por <a href="brasilmobis.com.br"
                target="_blank" class="text-indigo">Brasil Mobis</a></p>

    </mat-sidenav-content>

</mat-sidenav-container>